In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import datatable as dt
import os
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
#train数据集头5条数据
train = dt.fread("./train.tsv")
train = train.to_pandas()
train.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [3]:
train.shape

(156060, 4)

In [4]:
train.dtypes

PhraseId       int32
SentenceId     int32
Phrase        object
Sentiment      int32
dtype: object

In [5]:
#最长的phrase
longest_s = max(train["Phrase"],key=len)
len(longest_s)

283

In [6]:
#最多单词的Phrase
split_phrase = [x.split() for x in train["Phrase"]]
len(max(split_phrase,key=len))

52

In [7]:
#一共有多少个phrase
train.count()

PhraseId      156060
SentenceId    156060
Phrase        156060
Sentiment     156060
dtype: int64