In [5]:
import json
import os
import numpy as np
import pandas as pd

In [6]:
DATA_DIR = "./snli_1.0/"
DATA = {'sentence1':[],'sentence2':[],'gold_label':[]}

with open(os.path.join(DATA_DIR,"snli_1.0_test.jsonl")) as f:
    for line in f.readlines():
        d = json.loads(line)
        if d['gold_label']!='-':
            DATA['sentence1'].append(d['sentence1'])
            DATA['sentence2'].append(d['sentence2'])
            DATA['gold_label'].append(d['gold_label'])
dt = pd.DataFrame(DATA)
dt.head()

,sentence1,sentence2,gold_label
0,This church choir sings to the masses as they ...,The church has cracks in the ceiling.,neutral
1,This church choir sings to the masses as they ...,The church is filled with song.,entailment
2,This church choir sings to the masses as they ...,A choir singing at a baseball game.,contradiction
3,"A woman with a green headscarf, blue shirt and...",The woman is young.,neutral
4,"A woman with a green headscarf, blue shirt and...",The woman is very happy.,entailment

In [8]:
dt['sentence1'][100]

'A woman within an orchestra is playing a violin.'